

/* about section */

.flex-items{
    display: flex;
    flex-direction: column;

}

#title{
    left: 90px;
    width: 300px;
    position: relative;
    margin: 0px 0px;
    
    
}

#underline{
    height: 2px;
    width: 100%;
    background-color: #66FCF1;;
    box-shadow: 3px 3px 5px #66FCF1;
    position: relative;
    
}

#under{

    height: 2px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    background-color: #66FCF1;
    margin-top: 8px;
    margin-bottom: 8px;
    position: relative;

}

#self{
    height: 200px;
    width: auto;
    
}

#about-section{
    color: #fff;
    display: flex;
    
    flex-direction: column;
    justify-content: space-around;
   
}

.intro-elements{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 40px;
    
    
}

#about-title{
    text-align: center;
    color: #66FCF1;  
    text-shadow: 1px 1px 5px #66FCF1;
    margin-top: 30px;
    margin-bottom: 5px;
    
}



.intro-elements:link{
    color: white;
}

.intro-elements:hover{
    -webkit-text-stroke-width: 1px;
    color: #66FCF1;
    border-color: #66FCF1;
   
}

.intro-text:hover > p > ul{
   
    box-shadow: 3px 3px 5px #66FCF1;
    
}



.intro-elements > a{
    color: white;
    border-color: white;
}



:link{
    color: white;
    -webkit-text-stroke-width: 0px;
}

:link:hover{
    color: #66FCF1;
    -webkit-text-stroke-width: 1px;
}




.intro-text{
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    
}




#resume{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    
}

#self-photo{
    width: 35Vw;
    height: auto;
    margin-left: -15vw;
}

#college-photo{
    width: 37vw;
    height: auto;
    margin-left: 12vw;
    border-radius: 2%;
}



@media only screen and (max-width: 1250px) {
    .intro-elements{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 40px;
        
    }

    #hey-space{
        margin-bottom: 15px;
    }

    #change-order{
        order: 2;
        text-align: center;
    }

    #self-photo{
        width: 20Vw;
        height: auto;
        margin: 30px 0px;
        
    }

    #college-photo{
        width: 40vw;
        height: auto;
        margin: 0px 0px 20px 0px;
        border-radius: 2%;

    }

    #edge-higher{
        text-align: center;
        margin-bottom: 20px;
    }

    #edge-higher > h3{
        margin-bottom: 28px;
    }

    
  }


/* End of about stage start of coading skills */

#skills-title{
    color: #66FCF1;  
    text-shadow: 1px 1px 5px #66FCF1; 
    text-align: center;
    
    margin-bottom: 35px;
}

.boxes{
    height: 55px;
    width: 130px;
    border: #fff;
    border-style: solid;
    margin: 0px 3px;
    color: #fff;
    text-align: center;
}

.boxes > p {
    margin-top: auto;
    margin-bottom: auto;
    
}



.pyrmid{
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
}

.worst:hover >.boxes{
    box-shadow: 2px 2px 5px #66FCF1;
    border-color: #66FCF1;
}

.worst:hover > .boxes > p{
    text-shadow: 2px 2px 5px orange;
    color: orange;
}

.allright:hover >.boxes{
    box-shadow: 2px 2px 5px #66FCF1;
    border-color: #66FCF1;
}

.allright:hover > .boxes > p{
    text-shadow: 2px 2px 5px yellow;
    color: yellow;
}


.good:hover > .boxes > p{
    text-shadow: 2px 2px 5px rgb(132, 0, 255);
    color: rgb(132, 0, 255);
    
}

.good:hover >.boxes{
    box-shadow: 2px 2px 5px #66FCF1;
    border-color: #66FCF1;
}



.perfect:hover > .boxes > p{
    text-shadow: 2px 2px 5px rgb(0, 184, 0);
    color: green;
}

.perfect:hover >.boxes{
    box-shadow: 2px 2px 5px #66FCF1;
    border-color: #66FCF1;
}

#download{
    height: 40px;
    width: 140px;
    text-align: center;
    border-style: solid;
    border-color: #66FCF1;
    text-decoration: none;
    line-height: 28px;
}




/*  End of pyramid start of coading skills */

#coading-skills{
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 35px;
}

.skill-boxes * {
    pointer-events: none;
}

.skill-boxes{
    height: 400px;
    width: 250px;
    border-style: solid;
    border-width: 4px;
    border-color: white;
    border-radius: 3px;
    text-align: center;
    color: white;
    
}

.skill-boxes:hover{
    border-color: #66FCF1;
    box-shadow: 2px 2px 5px #66FCF1;
    
}

#one > ul > li{
    margin: 20px 0px;
    font-size: 15px;
}

#two > ul > li{
    margin: 20px 0px;
    font-size: 15px;
}

#three > ul > li{
    margin: 10px 0px;
    font-size: 15px;
}

#small-screen{
    display: none;
}


@media only screen and (max-width: 800px) {
    
    #coading-skills{
        margin-top: 70px;
        margin-right: 10px;
        margin-left: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 35px;
        
    }

    .skill-boxes{
        margin: 24px 0px;
        flex-direction: column;
    }

    .boxes{
        height: 44px;
        width: 75px;
        border: #fff;
        border-style: solid;
        margin: 0px 3px;
        color: #fff;
        text-align: center;
    }

    .boxes > p{
        margin-top: auto;
        margin-bottom: auto;
        font-size: 18px;
    }

    #small-screen{
        display: block;
    }

    #wide-screen{
        display: none;
    }

    #small-margin{
        margin-top: 15px;
        margin-bottom: 25px;
    }

    #college-photo{
        height: auto;
        width: 90vw;
    }

    #self-photo{

        height: auto;
        width: 90vw;
    }

    .worst > .boxes{
        box-shadow: 2px 2px 5px #66FCF1;
        border-color: #66FCF1;
    }

    .worst > .boxes > p{
        text-shadow: 2px 2px 5px orange;
        color: orange;
    }
    
    .allright >.boxes{
        box-shadow: 2px 2px 5px #66FCF1;
        border-color: #66FCF1;
    }
    
    .allright > .boxes > p{
        text-shadow: 2px 2px 5px yellow;
        color: yellow;
    }
    
    
    .good > .boxes > p{
        text-shadow: 2px 2px 5px rgb(132, 0, 255);
        color: rgb(132, 0, 255);
        
    }
    
    .good >.boxes{
        box-shadow: 2px 2px 5px #66FCF1;
        border-color: #66FCF1;
    }
    
    
    
    .perfect > .boxes > p{
        text-shadow: 2px 2px 5px rgb(0, 184, 0);
        color: green;
    }

    .perfect >.boxes{
        box-shadow: 2px 2px 5px #66FCF1;
        border-color: #66FCF1;
    }
    

}




/*  Glow effect on the resume button   */ 

#download:hover{
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      box-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #66FCF1, 0 0 0px #66FCF1, 0 0 0px #66FCF1, 0 0 0px #66FCF1, 0 0 0px #66FCF1;
    }
    to {
      box-shadow: 0 0 8px #fff, 0 0 12px #66FCF1, 0 0 16px #66FCF1, 0 0 20px #66FCF1, 0 0 24px #66FCF1, 0 0 28px #66FCF1
    }
  }

