@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");

body{
    font-family: Tomorrow, sans-serif;
    font-size: .85rem;
    
}

/* about section */

.flex-items{
    display: flex;
    flex-direction: column;

}

#title{
    left: 90px;
    width: 300px;
    position: relative;
    margin: 0px 0px;
    
    
}

#underline{
    height: 2px;
    width: 100%;
    background-color: #66FCF1;;
    box-shadow: 3px 3px 5px #66FCF1;
    position: relative;
    
}

#self{
    height: 200px;
    width: auto;
    
}

#about-section{
    color: #fff;
    display: flex;
    
    flex-direction: column;
    justify-content: space-around;
   
}

.intro-elements{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 40px;
}

.intro-elements:link{
    color: white;
}

.intro-elements:hover{
    -webkit-text-stroke-width: 1px;
    color: #66FCF1;
    border-color: #66FCF1;
   
}

.intro-elements > a{
    color: white;
    border-color: white;
}



:link{
    color: white;
    -webkit-text-stroke-width: 0px;
}

:link:hover{
    color: #66FCF1;
    -webkit-text-stroke-width: 1px;
}




.intro-text{
    
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: space-evenly;
    
}

#edge-higher{
    margin-top: -70px;
}

#resume{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    
}

#self-photo{
    width: 20Vw;
    height: auto;
    margin-left: -15vw;
}

#college-photo{
    width: 37vw;
    height: auto;
    margin-left: 12vw;
    border-radius: 2%;
}

.spacing{
    margin-bottom: 10px;
}

#skills-title{
    color: #66FCF1;  
    text-shadow: 1px 1px 5px #66FCF1; 
    text-align: center;
    font-size: 33px;
    margin-bottom: 35px;
}

.boxes{
    height: 55px;
    width: 130px;
    border: #fff;
    border-style: solid;
    margin: 0px 3px;
    color: #fff;
    text-align: center;
}

.boxes > p {
    margin-top: 12px;
    font-size: 20px;
}



.pyrmid{
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
}

.worst:hover >.boxes{
    box-shadow: 2px 2px 5px #66FCF1;
    border-color: #66FCF1;
}

.worst:hover > .boxes > p{
    text-shadow: 2px 2px 5px orange;
    color: orange;
}

.allright:hover >.boxes{
    box-shadow: 2px 2px 5px #66FCF1;
    border-color: #66FCF1;
}

.allright:hover > .boxes > p{
    text-shadow: 2px 2px 5px yellow;
    color: yellow;
}


.good:hover > .boxes > p{
    text-shadow: 2px 2px 5px rgb(132, 0, 255);
    color: rgb(132, 0, 255);
    
}

.good:hover >.boxes{
    box-shadow: 2px 2px 5px #66FCF1;
    border-color: #66FCF1;
}



.perfect:hover > .boxes > p{
    text-shadow: 2px 2px 5px rgb(0, 184, 0);
    color: green;
}

.perfect:hover >.boxes{
    box-shadow: 2px 2px 5px #66FCF1;
    border-color: #66FCF1;
}

#download{
    height: 40px;
    width: 140px;
    text-align: center;
    border-style: solid;
    border-color: #66FCF1;
    text-decoration: none;
    
}




/*  End of pyramid start of coading skills */

#coading-skills{
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 35px;
}

.skill-boxes * {
    pointer-events: none;
}

.skill-boxes{
    height: 400px;
    width: 250px;
    border-style: solid;
    border-width: 4px;
    border-color: white;
    border-radius: 3px;
    text-align: center;
    color: white;
    
}

.skill-boxes:hover{
    border-color: #66FCF1;
    box-shadow: 2px 2px 5px #66FCF1;
    
}

.skill-boxes > ul > li{
    margin: 20px 0px;
    font-size: 15px;
}

.skill-boxes > h2{
    font-size: 30px;
}




/*  Glow effect on the resume button   */ 

#download:hover{
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      box-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #66FCF1, 0 0 0px #66FCF1, 0 0 0px #66FCF1, 0 0 0px #66FCF1, 0 0 0px #66FCF1;
    }
    to {
      box-shadow: 0 0 8px #fff, 0 0 12px #66FCF1, 0 0 16px #66FCF1, 0 0 20px #66FCF1, 0 0 24px #66FCF1, 0 0 28px #66FCF1
    }
  }

