#contact{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#send{
    margin-top: auto;
    margin-bottom: auto;
    height: 40px;
    width: 140px;
    text-align: center;
    border-style: solid;
    border-color: #66FCF1;
    text-decoration: none;
    line-height: 28px;
}

#send:hover{
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      box-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #66FCF1, 0 0 0px #66FCF1, 0 0 0px #66FCF1, 0 0 0px #66FCF1, 0 0 0px #66FCF1;
    }
    to {
      box-shadow: 0 0 8px #fff, 0 0 12px #66FCF1, 0 0 16px #66FCF1, 0 0 20px #66FCF1, 0 0 24px #66FCF1, 0 0 28px #66FCF1
    }
  }

.contact-me{
    color: #66FCF1;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}
